In [18]:
# Passo 0: importar as bibliotecas

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
import locale
import re

In [40]:
# Passo 1: gerar o DataFrame

# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\Export_Vendas_Sintetico.xlsx'

# Leitura do arquivo Excel e seleção das colunas desejadas
df = pd.read_excel(excel_file, sheet_name='Planilha1', usecols=['Data', 'Valor', 'Status', 'Info. Compl'])

# Exibir as primeiras linhas do DataFrame
print(df.head())

# Exibir os tipos de dados ajustados
print(df.dtypes)

                 Data  Valor     Status  \
0 2018-12-21 08:28:57  10.35  CANCELADA
1 2018-12-21 09:16:04  10.35  CANCELADA
2 2018-12-21 09:16:02  10.35  CANCELADA
3 2018-12-21 09:19:16   9.31  CANCELADA
4 2018-12-21 09:23:14 224.85    REGULAR

                                         Info. Compl
0  Operador: Amanda, Condição de Troca: TROCAS EM...
1  Operador: João, Condição de Troca: TROCAS EM A...
2  Operador: Taís, Condição de Troca: TROCAS EM A...
3  Operador: Marcelo, Condição de Troca: TROCAS E...
4  Operador: Thales, Condição de Troca: TROCAS EM...
Data           datetime64[ns]
Valor                 float64
Status                 object
Info. Compl            object
dtype: object

In [54]:
# Passo 2: Renomear e ajustar os tipos de dados

# Renomear as colunas
df.rename(columns={
    'Data': 'data',
    'Valor': 'valor',
    'Status': 'status',
    'Info. Compl': 'info_compl'
}, inplace=True)


# Definir o locale para Português do Brasil (pt_BR)
locale.setlocale(locale.LC_NUMERIC, 'pt_BR.UTF-8')

# Função para converter valores
def convert_to_float(value):
    if isinstance(value, str):
        value = value.replace('.', '').replace(',', '.')
    return float(value)

# Aplicar a função de conversão na coluna 'valor' para float aplicando
df['valor'] = df['valor'].apply(convert_to_float)

# Converter a coluna 'data' para Timestamp
try:
    df['data'] = pd.to_datetime(df['data'])
except ValueError as e:
    print(f"Não foi possível converter a coluna 'data' para Timestamp: {e}")
    
# Truncar a coluna 'info_compl' para 60 caracteres
df['info_compl'] = df['info_compl'].apply(lambda x: x[:60])

# Truncar a coluna 'status' para 10 caracteres
df['status'] = df['status'].apply(lambda x: x[:10])

# Exibir as primeiras linhas do DataFrame após a conversão
print(df.head())

# Exibir os tipos de dados ajustados
print(df.dtypes)

                 data  valor     status  \
0 2018-12-21 08:28:57  10.35  CANCELADA
1 2018-12-21 09:16:04  10.35  CANCELADA
2 2018-12-21 09:16:02  10.35  CANCELADA
3 2018-12-21 09:19:16   9.31  CANCELADA
4 2018-12-21 09:23:14 224.85    REGULAR

                                          info_compl
0  Operador: Amanda, Condição de Troca: TROCAS EM...
1  Operador: João, Condição de Troca: TROCAS EM A...
2  Operador: Taís, Condição de Troca: TROCAS EM A...
3  Operador: Marcelo, Condição de Troca: TROCAS E...
4  Operador: Thales, Condição de Troca: TROCAS EM...
data          datetime64[ns]
valor                float64
status                object
info_compl            object
dtype: object

In [55]:
# Passo 3: visualizar o DataFrame

# Ajustar as opções de exibição do pandas
pd.options.display.float_format = '{:.2f}'.format

# Exibir o DataFrame completo
df

,data,valor,status,info_compl
0,2018-12-21 08:28:57,10.35,CANCELADA,"Operador: Amanda, Condição de Troca: TROCAS EM..."
1,2018-12-21 09:16:04,10.35,CANCELADA,"Operador: João, Condição de Troca: TROCAS EM A..."
2,2018-12-21 09:16:02,10.35,CANCELADA,"Operador: Taís, Condição de Troca: TROCAS EM A..."
3,2018-12-21 09:19:16,9.31,CANCELADA,"Operador: Marcelo, Condição de Troca: TROCAS E..."
4,2018-12-21 09:23:14,224.85,REGULAR,"Operador: Thales, Condição de Troca: TROCAS EM..."
...,...,...,...,...
103202,2023-01-04 16:55:52,294.60,REGULAR,"Operador: Thales, Condição de Troca: TROCAS EM..."
103203,2023-01-04 16:58:35,359.97,REGULAR,"Operador: Amanda, Condição de Troca: TROCAS EM..."
103204,2023-01-04 17:00:39,539.96,REGULAR,"Operador: João, Condição de Troca: TROCAS EM A..."
103205,2023-01-04 17:01:40,179.98,REGULAR,"Operador: Taís, Condição de Troca: TROCAS EM A..."
103206,2023-01-04 17:04:07,359.97,REGULAR,"Operador: Marcelo, Condição de Troca: TROCAS E..."

In [56]:
# Passo 4: Inserir dados no banco de dados PostgreSQL

try:
    # Definir a string de conexão com o banco de dados PostgreSQL
    postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

    # Criar uma conexão com o banco de dados
    engine = create_engine(postgres_str)

    with engine.connect() as connection:
        print("Conexão com o banco de dados estabelecida com sucesso!")

        # Nome do esquema e da tabela no banco de dados
        schema_name = 'esquadrao'
        table_name = 'tbl_loja'

        # Exibir as colunas da tabela no banco de dados
        query = f"""
        SELECT column_name 
        FROM information_schema.columns 
        WHERE table_schema = '{schema_name}' AND table_name = '{table_name}';
        """
        result = connection.execute(query)
        columns_in_db = [row[0] for row in result]
        print("Colunas no banco de dados:", columns_in_db)

        # Remover a coluna 'id_venda' do banco de dados das colunas do DataFrame, se necessário
        if 'id_venda' in columns_in_db:
            columns_in_db.remove('id_venda')

        # Verificar se as colunas do DataFrame correspondem agora às colunas no banco de dados
        if set(df.columns) != set(columns_in_db):
            print("Aviso: As colunas do DataFrame não correspondem exatamente às colunas no banco de dados após as correções.")
            print("Colunas do DataFrame:", df.columns)
            print("Colunas no banco de dados (sem ID):", columns_in_db)

        # Limpar a tabela no banco de dados
        clear_table_query = f"TRUNCATE TABLE {schema_name}.{table_name};"
        connection.execute(clear_table_query)
        print(f"Tabela {schema_name}.{table_name} limpa com sucesso!")

        # Inserir os dados no banco de dados especificando o esquema
        df.to_sql(table_name, engine, schema=schema_name, if_exists='append', index=False)
        print("Dados inseridos no banco de dados com sucesso!")

except OperationalError as oe:
    print(f"Erro de conexão com o banco de dados: {oe}")
except Exception as e:
    print(f"Erro ao inserir dados no banco de dados: {e}")

Conexão com o banco de dados estabelecida com sucesso!
Colunas no banco de dados: ['valor', 'status', 'data', 'info_compl']
Tabela esquadrao.tbl_loja limpa com sucesso!
Dados inseridos no banco de dados com sucesso!