In [4]:
# Importar as bibliotecas

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
import locale
import re

In [8]:
# Gerar o DataFrame

# Caminho do arquivo Excel
excel_file = "dados\Export_Vendas_Sintetico.xlsx"

# Leitura do arquivo Excel e seleção das colunas desejadas
df = pd.read_excel(excel_file, sheet_name='Planilha1', usecols=['Data', 'Valor', 'Status', 'Operador', 'Vendedor'])

# Exibir as primeiras linhas do DataFrame
print(df.head())

# Exibir os tipos de dados ajustados
print(df.dtypes)

                  Data    Valor     Status Operador Vendedor
0  21/12/2018 08:28:57   10.350  CANCELADA   Amanda     Neto
1  21/12/2018 09:16:04   10.350  CANCELADA     João   Victor
2  21/12/2018 09:16:02   10.350  CANCELADA     Taís    Lucas
3  21/12/2018 09:19:16    9.315  CANCELADA  Marcelo  Regiane
4  21/12/2018 09:23:14  224.850    REGULAR   Thales   Rebeca
Data         object
Valor       float64
Status       object
Operador     object
Vendedor     object
dtype: object

In [9]:
# Renomear as colunas
df.rename(columns={
    'Data': 'data',
    'Valor': 'valor',
    'Status': 'status',
    'Operador': 'operador',
    'Vendedor': 'vendedor'
}, inplace=True)

# Ajustar as variáveis da coluna status
df['status'] = df['status'].str.capitalize()

# Definir o locale para Português do Brasil (pt_BR)
locale.setlocale(locale.LC_NUMERIC, 'pt_BR.UTF-8')

# Função para converter valores
def convert_to_float(value):
    if isinstance(value, str):
        value = value.replace('.', '').replace(',', '.')
    return float(value)

# Aplicar a função de conversão na coluna 'valor' para float aplicando
df['valor'] = df['valor'].apply(convert_to_float)

# Converter a coluna 'data' para Timestamp
try:
    df['data'] = pd.to_datetime(df['data'])
except ValueError as e:
    print(f"Não foi possível converter a coluna 'data' para Timestamp: {e}")

# Truncar a coluna 'status' para 10 caracteres
df['status'] = df['status'].apply(lambda x: x[:10])

# Remover linhas onde o status é 'Cancelada'
df = df[df['status'] != 'Cancelada']

# Exibir as primeiras linhas do DataFrame após a conversão
print("Primeiras Linhas do DataFrame - compras devidamente efetivadas")
print(df.head())
print("------------")

# Exibir os tipos de dados ajustados
print("Tipos de Dados")
print(df.dtypes)

Primeiras Linhas do DataFrame - compras devidamente efetivadas
                 data   valor   status operador vendedor
4 2018-12-21 09:23:14  224.85  Regular   Thales   Rebeca
5 2018-12-21 09:32:23  359.70  Regular   Amanda   Sérgio
6 2018-12-21 09:36:16  329.85  Regular     João     Neto
7 2018-12-21 09:39:16   89.85  Regular     Taís   Victor
8 2018-12-21 09:41:22  269.73  Regular  Marcelo    Lucas
------------
Tipos de Dados
data        datetime64[ns]
valor              float64
status              object
operador            object
vendedor            object
dtype: object

In [10]:
# Criar a tabela no banco de dados e inserir os dados
try:
    # Definir a string de conexão com o banco de dados PostgreSQL
    postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'
    engine = create_engine(postgres_str)

    with engine.connect() as connection:
        print("Conexão com o banco de dados estabelecida com sucesso!")

        # Nome do esquema e da tabela no banco de dados
        schema_name = 'esquadrao'
        table_name = 'tbl_loja'

        # Criar a tabela no banco de dados
        create_table_query = f"""
        CREATE TABLE IF NOT EXISTS {schema_name}.{table_name} (
            data DATE,
            valor FLOAT,
            status VARCHAR(10),
            operador VARCHAR(255),
            vendedor VARCHAR(255)
        );
        """
        connection.execute(create_table_query)
        print(f"Tabela {schema_name}.{table_name} criada com sucesso!")

        # Limpar a tabela no banco de dados
        clear_table_query = f"TRUNCATE TABLE {schema_name}.{table_name};"
        connection.execute(clear_table_query)
        print(f"Tabela {schema_name}.{table_name} limpa com sucesso!")

        # Inserir os dados no banco de dados
        df.to_sql(table_name, engine, schema=schema_name, if_exists='replace', index=False)
        print("Dados inseridos no banco de dados com sucesso!")

except OperationalError as oe:
    print(f"Erro de conexão com o banco de dados: {oe}")
except Exception as e:
    print(f"Erro ao criar a tabela ou inserir dados no banco de dados: {e}")

Conexão com o banco de dados estabelecida com sucesso!
Tabela esquadrao.tbl_loja criada com sucesso!
Tabela esquadrao.tbl_loja limpa com sucesso!
Dados inseridos no banco de dados com sucesso!